
<% # Agrego tag para que se muestre el estilo asociado al formato de template 
	if @estilo_cargado.nil?
		logger.debug("estilo es null...")
%>
		<%= stylesheet_link_tag "template_noticias_1" %>
<% 
		@estilo_cargado = "true" 
	end
%>

 												
													
<%= link_to "Editar", :url => { :controller => "app_noticias", :action => :edit }, :id => @noticia.id %> 
<%
	### Se obtiene el formato de lo que se va a mostrar posteriormente ###


	modalidad = @modo_muestra_template || 0

	elemento_1 = ""
	elemento_2 = ""
	pie = ""

	case modalidad

	  when Contenido::MUESTRA_MODALIDAD_EDICION
	    # Modalidad presentacion edicion
			div_modalidad = "div_modalidad_edicion"
	
			elemento_1 = "Elemento #1"
			elemento_2 = "Elemento #2"

	  when Contenido::MUESTRA_MODALIDAD_COMPLETA
		# Modalidad Noticia Completa
			div_modalidad = "div_modalidad_completa"
	
			cabezal = "<div id='titulo-noticia'>" + @noticia.descripcion + "</div><hr />"	 
			cabezal +=  "#{link_to("Editar", :action => "edit", :id => @noticia.id)}"

			elemento_1 = mostrarElemento(@hash_elementos_renderizados, 1,0) 
			elemento_2 = mostrarElemento(@hash_elementos_renderizados, 2,0) 

	  when Contenido::MUESTRA_MODALIDAD_REDUCIDA
		# Por defecto muestro en modalidad normal, para el listado    
			div_modalidad = "columnistas"

			cabezal = "<div id='titulo-noticia'>" + @noticia.descripcion + "</div><hr />"	  
			elemento_1 = mostrarElemento(@hash_elementos_renderizados, 1,0) 
			elemento_2 = mostrarElemento(@hash_elementos_renderizados, 2,0) 
			
	end

%>


<% 
	# Se define la estructura de los divs para mostrar el contenido  
%>

<div id="<%= div_modalidad %>" >
		<div id="cabezal">
			<%= cabezal%>
		</div>
		
        <div id="div_template_1">
			<%= elemento_1 %>			
        </div>
		
        <div id="div_template_2">
			<%= elemento_2 %>
        </div>
</div>

