<h1>New tipo_contenido</h1>

<% form_for(@tipo_contenido) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :template %><br />
    <%= f.text_field :template %>
  </p>
  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tipo_contenidos_path %>