<h1>Editing asociacion_perfil</h1>

<% form_for(@asociacion_perfil) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @asociacion_perfil %> |
<%= link_to 'Back', asociacion_perfils_path %>