<h1>Listing apps</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Controller</th>
    <th>Nivel</th>
  </tr>

<% @apps.each do |app| %>
  <tr>
    <td><%=h app.id %></td>
    <td><%=h app.nombre %></td>
    <td><%=h app.controller %></td>
    <%=h Profile::NIVELES_DE_USUARIO[app.nivel][0] %>
    <td><%= link_to 'Show', app %></td>
    <td><%= link_to 'Edit', edit_app_path(app) %></td>
    <td><%= link_to 'Destroy', app, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New app', new_app_path %>
